.table {
    width: 100%;
    border: none;
    text-align: center;
    height: 300px;
    border-spacing: 10px;
    font-weight: bold;
    


}

td {
    cursor: pointer;
}
.btnRed{
    background-color: rgb(244, 85, 85);
}